<h1>Cart details</h1>
<a class="backButton" href="/menu">Back</a>
<hr />

<h2>{cartDetails}</h2>

<table id="cartData">
    <tr>
        <th>Pizza Id</th>
        <th>Qty ordered</th>
    </tr>
    <tr id="noItemsInCart">
        <td colspan="5" class="warning">You have no items in cart, don't hesitate any more</td>
    </tr>

</table>
<!--<div class="formWrapper">-->
<!--    <form id="submitOrder" action="/api/purchase" method="POST">-->
<!--        <div class="formError"></div>-->
        <div class="inputWrapper ctaWrapper">
            <button id="sendPurchase" class="cta green">Go for it!</button>
        </div>
<!--    </form>-->
<!--</div>-->